<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:padding="16dp">
        <CheckBox
            android:id="@+id/display_type_checkbox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/display_type" />
        <Spinner
            android:id="@+id/display_type_spinner"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_type_checkbox" />
        <LinearLayout
            android:id="@+id/dis_ll_1"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_type_spinner">
            <CheckBox
                android:id="@+id/display_capabilities_add_text_fields_chk"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true" />
            <Button
                android:id="@+id/display_capabilities_add_text_fields_btn"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/add_text_fields" />
        </LinearLayout>
        <ListView
            android:id="@+id/display_capabilities_text_fields_listview"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/dis_ll_1" />
        <LinearLayout
            android:id="@+id/dis_ll_2"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_capabilities_text_fields_listview">
            <CheckBox
                android:id="@+id/display_capabilities_add_image_fields_chk"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true" />
            <Button
                android:id="@+id/display_capabilities_add_image_fields_btn"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/add_image_fields" />
        </LinearLayout>
        <ListView
            android:id="@+id/display_capabilities_image_fields_listview"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/dis_ll_2" />
        <LinearLayout
            android:id="@+id/dis_ll_3"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_capabilities_image_fields_listview">
            <CheckBox
                android:id="@+id/display_capabilities_add_media_clock_formats_chk"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true" />
            <Button
                android:id="@+id/display_capabilities_add_media_clock_formats_btn"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/add_media_clock_format" />
        </LinearLayout>
        <ListView
            android:id="@+id/display_capabilities_media_clock_formats_listview"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/dis_ll_3" />
        <LinearLayout
            android:id="@+id/dis_ll_4"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_capabilities_media_clock_formats_listview">
            <CheckBox
                android:id="@+id/display_capabilities_add_image_types_chk"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true" />
            <Button
                android:id="@+id/display_capabilities_add_image_types_btn"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/image_type" />
        </LinearLayout>
        <ListView
            android:id="@+id/display_capabilities_image_types_listview"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/dis_ll_4" />
        <CheckBox
            android:id="@+id/display_capabilities_graphic_supported_checkbox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_capabilities_image_types_listview"
            android:checked="true"
            android:text="@string/graphic_supported" />
        <CheckBox
            android:id="@+id/display_capabilities_templates_available_checkbox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_capabilities_graphic_supported_checkbox"
            android:checked="true"
            android:text="@string/templates_available" />
        <EditText
            android:id="@+id/display_capabilities_templates_available_edittext"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_capabilities_templates_available_checkbox"
            android:inputType="text"
            android:text="@string/templates_available" />
        <TextView
            android:id="@+id/text_hint"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_capabilities_templates_available_edittext"
            android:enabled="false"
            android:text="@string/ts_hint"
            android:textSize="12sp" />
        <LinearLayout
            android:id="@+id/dis_ll_5"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/text_hint">
            <CheckBox
                android:id="@+id/display_capabilities_add_screen_params_chk"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true" />
            <Button
                android:id="@+id/display_capabilities_add_screen_params_btn"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/add_screen_params" />
        </LinearLayout>
        <CheckBox
            android:id="@+id/display_capabilities_num_custom_presets_available_checkbox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/dis_ll_5"
            android:checked="true"
            android:text="@string/num_custom_presets_available" />
        <EditText
            android:id="@+id/display_capabilities_num_custom_presets_available_edittext"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/display_capabilities_num_custom_presets_available_checkbox"
            android:text="0"
            android:inputType="number" />
    </RelativeLayout>
</ScrollView>