<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:layout_margin="16dip"
        android:orientation="vertical">
        <CheckBox
            android:id="@+id/tts_language_cb"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/language" />
        <Spinner
            android:id="@+id/tts_language_spn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:visibility="visible" />
        <CheckBox
            android:id="@+id/tts_result_code_cb"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/result_code" />
        <Spinner
            android:id="@+id/tts_result_code_spn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:visibility="visible" />
    </LinearLayout>
</ScrollView>