<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="16dip"
        android:layout_marginRight="16dip"
        android:orientation="vertical">
        <CheckBox
            android:id="@+id/get_interior_vehicle_data_module_data_cb"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="ModuleData" />
        <CheckBox
            android:id="@+id/get_interior_vehicle_data_module_type_cb"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginLeft="16dp"
            android:checked="true"
            android:text="ModuleType" />
        <Spinner
            android:id="@+id/get_interior_vehicle_data_module_type_spn"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_marginLeft="50dp" />
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <CheckBox
                android:id="@+id/get_interior_vehicle_data_radio_control_data_chk"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginLeft="16dp"
                android:checked="true" />
            <Button
                android:id="@+id/get_interior_vehicle_data_add_radio_control_data_btn"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:text="Add Radio Control Data" />
        </LinearLayout>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <CheckBox
                android:id="@+id/get_interior_vehicle_data_add_climate_control_data_chk"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginLeft="16dp"
                android:checked="true" />
            <Button
                android:id="@+id/get_interior_vehicle_data_add_climate_control_data_btn"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:text="Add Climate Control Data" />
        </LinearLayout>
        <CheckBox
            android:id="@+id/get_interior_vehicle_data_is_subscribed_cb"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="IsSubscribed" />
        <CheckBox
            android:id="@+id/get_interior_vehicle_data_result_code_cb"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="ResultCode" />
        <Spinner
            android:id="@+id/get_interior_vehicle_data_result_code_spn"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content" />
    </LinearLayout>
</ScrollView>