<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:padding="16dip">
        <CheckBox
            android:id="@+id/tts_notification_app_id_checkbox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/app_id" />
        <RadioGroup
            android:id="@+id/tts_notification_app_id_manual_radioGroup"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:paddingLeft="12dp">
            <RadioButton
                android:id="@+id/tts_notification_app_id_manual"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:checked="true"
                android:text="@string/manual" />
            <EditText
                android:id="@+id/tts_notification_app_id_et"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:inputType="number" />
            <RadioButton
                android:id="@+id/tts_notification_app_id_registered_apps"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/registered_apps" />
            <Spinner
                android:id="@+id/tts_notification_app_id_spinner"
                android:layout_width="match_parent"
                android:layout_height="wrap_content" />
        </RadioGroup>
        <CheckBox
            android:id="@+id/tts_notification_method_name_cb"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/method_name" />
        <EditText
            android:id="@+id/tts_notification_method_name_et"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:inputType="text" />
    </LinearLayout>
</ScrollView>